* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*inicio do meu header*/
header {
    background-color: #252525;
    display: flex;
    justify-content: space-between;

}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 8vw;
    width: 20vw;
    height: 12vh;
}

header nav {
    padding-right: 8vw;
    justify-content: flex-end;

}

.Fantastika {
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
}

a {
    width: 6vw;

}

.logo {
    width: 4vw;
}

/*Fim do meu header*/

/*Primeira section*/
.txt-sessa-um {
    display: flex;
    width: 100vw;
    justify-content: center;
    color: #ffffff;
    font-size: 70px;
}

.patinhadiv {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.patinhadiv img {
    width: 8vw;
    padding-top: 20px;

}

.primeirasessao {
    background-image: url(./cachorrobranco.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

}

/*Fim da primeira section*/

/*inicio da segunda section*/
body {
    overflow-x: hidden;
}

.sessao2 {
    background-image: url(./imagens/cachorroleao.png);
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.txt-sessao-dois {
    font-size: 50px;
}

.txt-p-um {
    width: 32vw;
    font-size: 25px;
    margin: 30px 0;

}

.botao-um {
    border-radius: 100px;
    border: none;
    color: #ffffff;
    padding: 15px 30px 15px 30px;
    background-color: #3A342F;
    font: normal normal bold 27px/35px Roboto;
}

/*Fim da segunda section*/

/*inicio da terceira section*/
.sessao3 {
    background-image: url(./cachorropreto.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    color: #FFFFFF;


}

.mobiletexto {
    display: none;

}

.mordomia {

    font-size: 50px;
    height: 30vh;
    width: 81.5vw;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;

}

.saudavel {
    font-size: 50px;
    width: 79vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.p-um {
    width: 300px;
    margin-left: 820px;
    margin-top: 20px;
    font-size: 22px;

}

.p-dois {
    display: none;
}

.botaofinal {
    width: 81vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.botao-final {
    border-radius: 100px;
    border: none;
    background-color: #FFFFFF;
    padding: 15px 30px 15px 30px;
    font: normal normal bold 27px/35px Roboto;

}

/*Fim da terceiro section*/

/*inicio da quarta section*/

.main-sessao {
    background: #FFFFFF;
    height: 17vh;
}

.main-final {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    align-items: center;
    height: 17vh;
    font-style: italic;

}

.Apoio {
    font-family: 'Roboto Serif', serif;
    color: #EB4A7B;
    font-size: 20px;
    font-weight: 800;
}

/*Fim da quarta section*/

/*Inicio do footer*/
footer {
    display: flex;
    align-items: center;
    background-color: #EB4A7B;
    height: 50vh;
    width: 100vw;
}

.mobile {
    display: none;
}

li {

    list-style: none;
    display: flex;
    align-items: center;
    width: 9vw;
    justify-content: start;
    color: #FFFFFF;

}

.colunafooter {

    width: 15vw;
    height: 14vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #FFFFFF;
}

.Atendimento {
    height: 10vh;
    width: 14.5vw;
    display: flex;
    justify-content: center;
    align-items: end;

}

.sobre {
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.unidades {
    height: 10vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

/*Final do footer*/

@media (max-width:500px) {

    /*inicio do meu header*/
    header div {
        width: 55vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .primeira {
        display: flex;
        justify-content: space-around;
    }

    .primeira h3 {
        font-size: x-large
    }

    nav {
        flex-direction: row-reverse;
    }

    .logo {
        width: 48px;
    }

    .instagram {
        display: none;
    }

    .Youtube {
        display: none;
    }

    .whats {
        position: absolute;
        width: 12vw;
        margin-top: -23px;
    }

    /*Fim do meu header*/

    /*inicio da primeira section*/

    .primeira {
        display: flex;
        justify-content: space-around;
    }

    .primeira h3 {
        font-size: x-large
    }

    .patinhadiv {
        height: 60vh;
    }

    .patinhadiv h2 {
        font-size: 40px;
    }

    .logopet {
        height: 90px;
        width: 100px;
    }

    /*Fim da primeira section*/

    /*inicio da segunda section*/
    .sessao2 {
        background-image: url(./imagens/leaocachorro.png);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        padding: 30px;
    }

    .segundasessao {
        height: 80vh;
        width: 500px;

    }

    .txt-sessao-dois {
        font-size: 32px;
    }

    .txt-p-um {
        width: 300px;
        text-align: left;
        font-size: 22px;

    }

    .botao-um {}

    /*Fim da segunda section*/

    /*inicio da terceira section*/
    .sessao3 {
        background-image: url(./cachorro2mobile.png);

    }

    .mobiletexto {
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
        height: 12vh;
        width: 75vw;
        font-size: 30px;
        padding-right: 20px;

    }

    .mordomia {
        display: none;
    }

    .saudavel {
        display: none;
    }

    .terceirasessao p {
        align-items: ;
        height: 7vh;
    }

    .p-um {
        color: #FFFFFF;
        font-size: 22px;

    }

    .p-dois {
        display: flex;
        font-size: 22px;
        justify-content: start;
        align-items: flex-end;
        padding-left: 15px;


    }

    .botaofinal {
        height: 12vh;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 15px;

    }


    /*Fim da terceiro section*/

    /*inicio da quarta section*/

    .main-final img {
        width: 30vw;
        display: flex;
        justify-content: space-around;
    }

    .Apoio {
        font-size: medium;
        position: absolute;
        left: 160px;
        margin-bottom: 50px;
    }

    .havannas {
        width: 200vw;
    }

    /*Fim da quarta section*/
    /*inicio do footer*/
    .footer-mobile {
        flex-direction: column;
        height: 110vh;

    }

    .mobile {
        width: 100vw;
        height: 50vh;
        display: flex;
    }

    .primeira-mobile {
        display: flex;
        width: 100vw;
        justify-content: end;
        align-items: center;
        height: 30vh;


    }

    .logofooter {
        padding-left: 10px;
        height: 100px;
        display: flex;
        align-items: center;

    }

    .fantastika-mobile {
        font-size: 32px;
        text-align: end;
        padding-left: 20px;

    }

    .nav-footer {}

    .nav-footer img {

        left: 50px;

    }

    .instagram-mobile {
        position: absolute;
        width: 12vw;
        margin-left: 45px;
        margin-bottom: 200px;
    }

    .Youtube-mobile {
        width: 13vw;
        height: 5.8vh;
        position: absolute;
        margin-left: 120px;
        margin-bottom: 250px;
    }

    .whats-mobile {
        width: 12vw;
        position: absolute;
        margin-left: 200px;
        margin-bottom: 250px;
    }

    .at-ul {
        position: absolute;
        margin-top: 230px;

    }

    .Atendimento {
        font-size: 30px;
    }
    .at-li{
        width: 90px;
    }

    .sobre {
        width: 50vw;
        font-size: 30px;
    }

    sobre-ul {
    }

    .Meio-li {
        width: 100vw;
        justify-content: center;
        padding-left: 150px;

    }

    .unidades {
        
        margin-bottom: 20px;
        font-size: 30px;

    }

    .fim-ul {
        height: 20vh;
        display: flex;
        width: 10vh;
    }
}


/*final do footer*/